#drum-machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#content {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  /* background-color: #f0f0f0; */
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  grid-gap: 12px;
}

.drum-pad {
  /* user-select: none; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #364f6b;
  border-radius: 10px;
  transition: transform .3s;
}

.drum-pad:hover {
  transform: scale(1.1);
}

#display {
  font-size: 2rem;
  padding-bottom: 20px;
}